<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/views/login.ejs">
<title>ATN SHOP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: arial
}

/* Định dạng header */
  .header {
  background-color: #09cde7;
  color: #0004f5;
  padding: 10 px;
  text-align: center;
}

/* Định dạng thanh điều hướng trên cùng */
.topnav {
  overflow: hidden;
  background-color: #2801d8;
}

/* Định dạng link điều hướng */
.topnav a {
  float: left;
  display: block;
  color: #070707;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Thay đổi màu liên kết khi di chuột qua */
.topnav a:hover {
  background-color: #db7093;
  color: rgb(26, 12, 100);
  font-weight: bold;
}
</style>
</head>
<body>

<div class="header">
  <h1>ATN TOYS SHOP</h1>
</div>

<div class="topnav">
  <a href="/login">Login page</a>
</div>

</body>
</html>